<!doctype html>
<html lang="en">
{% load static %}
<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href=" {% static 'asset/css/bootstrap/bootstrap.min.css' %} " rel="stylesheet">
  <link href=" {% static 'assets/css/argon.min.css' %} " rel="stylesheet">

</head>

<body>
  <header>
    <!-- place navbar here -->
  </header>
  <main>
    {% block content %}{% endblock content %}
  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="{% static 'assets/js/bootstrap.min.js' %}">
  </script>

  <script src="{% static 'assets/js/argon.min.js' %}">
  </script>
</body>

</html>