
      <!-- Footer -->
      <footer class="py-5">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="text-center text-xl-left text-muted">
              <a href="#" 
                 class="font-weight-bold ml-1" target="_blank">Dashboards</a>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="text-center text-xl-center text-muted">
              <a href="" 
                 class="font-weight-bold ml-1" target="_blank"> &copy; BonitoFF</a> 
                 - coded by <a target="_blank" href="@">bonito</a>
            </div>
          </div>
        </div>
      </footer>
