{% load static %}
<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">
      <a class="navbar-brand" href="/">
        <img src="{% static 'assets/img/brand/blue.png' %}" class="navbar-brand-img" alt="Argon Design - Jinja Template Logo.">
      </a>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if 'home' in page %} active {% endif %}" href="/">
              <i class="ni ni-tv-2 text-primary"></i>
              <span class="nav-link-text">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'todo' in page %} active {% endif %}" href="{% url 'todo' %}">
              <i class="ni ni-check-bold text-orange"></i>
              <span class="nav-link-text">todo</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'depense' in page %} active {% endif %}" href="{% url 'dep_c' %}">
              <i class="ni ni-money-coins text-primary" ></i>
              <span class="nav-link-text">depense</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'profile' in segment %} active {% endif %}" href="/profile.html">
              <!-- class="ni ni-single-02 text-yellow"></!-->
              <span class="nav-link-text"></span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'tables' in segment %} active {% endif %}" href="/tables.html">
              <!-- class="ni ni-bullet-list-67 text-default"></!-->
              <span class="nav-link-text"></span>
            </a>
          </li>
          {% if request.user.username == 'none' %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">
              <i class="ni ni-key-25 text-info"></i>
              <span class="nav-link-text">Login</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">
              <i class="ni ni-circle-08 text-pink">hh</i>
              <span class="nav-link-text">Register</span>
            </a>
          </li>
    
          {% endif %}
          
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dep_c' %}">
              <i class="ni ni-user-run text-red"></i>
              <span class="nav-link-text">Logout</span>
            </a>
          </li>            
        </ul>
        <!-- Divider -->
        <hr class="my-3">
        <!-- Heading -->
        <h6 class="navbar-heading p-0 text-muted">
          <span class="docs-normal">Resources</span>
        </h6>
        <!-- Navigation -->

        </ul>
      </div>
    </div>
  </div>
</nav>