<form method="post" action="{% url 'c' %}">
    {% csrf_token %}
    <div class="form-row">
      <div class="col-md-6">
        <input type="text" class="form-control" name="title" placeholder="Do laundry" required>
      </div>
      <div class="col-md-6">
        <button type="submit" name="submit" class="btn btn-outline-primary">
          Add
        </button>
      </div>
    </div>
  </form>

  {% for todo in todo_list %}
  <div class="list-group-item {% if todo.isCompleted %} todo-complete {% endif %}">
    <form style="display: inline;" method="post" action="{% url 'u' todo.id %}">
      {% csrf_token %}
      <input type="checkbox" name="isCompleted" onchange="this.form.submit()" {% if todo.isCompleted %} checked
        {% endif %} class="todo-status-checkbox"
        title="{% if not todo.isCompleted %} mark as done {% else %} mark undone {% endif %}">
    </form>
    {{ todo.title }}
    <a href="{% url 'd' todo.id %}" title="Delete">
      <i class="far fa-trash-alt"></i>
    </a>
  </div>
  {% endfor %}